.card {
    width: 350px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.115);
    &-img {
        width: 100%;
    }
    &-body {
        padding: 20px;
    }
    &-title {
        font-size: 1.4rem;
        margin-bottom: 10px;
    }
    &-text {
        margin-bottom: 10px;
    }
    a {
        text-decoration: none;
    }
}